accelerate==1.11.0
cornstarch==0.0.5
langchain==1.0.3
langchain_community==0.4.1
langchain_huggingface==1.0.1
lightning==2.5.5
matplotlib==3.10.7
numpy==2.3.4
pandas==2.3.3
peft==0.17.1
pytorch_lightning==2.5.5
PyYAML==6.0.3
scikit_learn==1.7.2
scipy==1.16.3
torch==2.8.0+cu128
torchvision==0.23.0+cu128
tqdm==4.67.1
transformers==4.57.1
trl==0.24.0
umap==0.1.1
